# OS files
Thumbs.db
.DS_Store

# Editor files
.idea/

# Generated / temporary files
.pio
.vscode/.browse_c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
*.bak
*.tmp
*.log
*.zip
*.rar
*.7z
